[Desktop Entry]
Name=Lightning Image Viewer
Icon=lightning-image-viewer
Exec=lightning-image-viewer %F
Type=Application
Terminal=false
Categories=Graphics;
MimeType=image/avif;image/bmp;image/x-dds;image/x-exr;image/gif;image/x-hdr;image/vnd.microsoft.icon;image/jpeg;image/png;image/x-portable-anymap;image/qoi;image/tiff;image/webp;image/jxl;image/heif
