// Microsoft Windows Resource Compiler resource-definition script file

// for embedding manifest which makes Windows set process code page to UTF-8 as described on https://github.com/alf-p-steinbach/C---how-to---make-non-English-text-work-in-Windows/blob/main/how-to-use-utf8-in-windows.md#4-how-to-get-the-main-arguments-utf-8-encoded
// see also https://learn.microsoft.com/en-us/windows/win32/sbscs/application-manifests
#include <windows.h>    // RT_MANIFEST
// CREATEPROCESS_MANIFEST_RESOURCE_ID is defined as 1 cast to `char*`; not directly usable here.

// resource-definition statements format: `nameID typeID filename-or-data`
// same nameID can be used for resources of different types
// for both RT_MANIFEST and VERSIONINFO nameID seems to be required to be 1
1 RT_MANIFEST "lightning-image-viewer.exe.manifest"

// for ICON nameID can be anything and its value doesn't matter if there's no need to access it from code
1 ICON "lightning-image-viewer.ico"
