name: workflow-release

on:
  # Allow to run workflow manually from the Actions tab
  workflow_dispatch:
    inputs: # default type is string, description is displayed in the input label
      tag_name_v:
        description: Tag name version (without leading "v")
        required: true
      draft:
        description: Draft
        type: boolean
        required: true
        default: true

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write # required for draft release creation, otherwise "read" should have been enough
  pages: write
  id-token: write
  attestations: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: group-workflow-release
  cancel-in-progress: false

jobs:
  job-release:
    # TODO from "Simple workflow for deploying static content to GitHub Pages" example, is it useful?
    #environment:
    #  name: github-pages
    #  url: ${{ steps.deploy_pages.outputs.page_url }}
    runs-on: ubuntu-latest
    container:
      image: ubuntu:25.04
    env:
      SDL_VER: 3.2.28
      DAV1D_VER: 1.5.2
      LIBDE265_VER: 1.0.16
      LIBHEIF_VER: 1.20.2
      EMSDK_VER: 4.0.21
      DEBIAN_FRONTEND: noninteractive
      TAG_NAME_V: ${{ github.event.inputs.tag_name_v }}

    steps:
      - name: step-pre
        run: |
          if [ $(uname -m) != "x86_64" ]; then
            echo "Error: machine is not x86_64"
            exit 1
          fi
          apt update

      - name: step-checkout
        uses: actions/checkout@v2
        with:
          path: lightning-image-viewer

      - name: step-build-pre
        run: |
          cp -a lightning-image-viewer/README.md .
          echo "\n---\n\nBuilt from commit $GITHUB_SHA with tag v$TAG_NAME_V" >> README.md

      - name: step-build-ubuntu
        run: |
          apt install -y gcc libsdl3-dev libheif-dev rustup make
          mkdir -p lightning-image-viewer_${TAG_NAME_V}_amd64/usr/bin lightning-image-viewer_${TAG_NAME_V}_amd64/usr/share/doc/lightning-image-viewer lightning-image-viewer_${TAG_NAME_V}_amd64/DEBIAN
          rustup default stable
          cd lightning-image-viewer
          # TODO dynamically discover and set libheif version?
          cargo build --release --no-default-features --features libheif-v1_19
          make DESTDIR=../lightning-image-viewer_${TAG_NAME_V}_amd64 PREFIX=/usr install
          cd ..
          cp -a README.md lightning-image-viewer_${TAG_NAME_V}_amd64/usr/share/doc/lightning-image-viewer
          sed "s/^Version:.*/Version: $TAG_NAME_V/" lightning-image-viewer/src/control.in > lightning-image-viewer_${TAG_NAME_V}_amd64/DEBIAN/control
          dpkg --build lightning-image-viewer_${TAG_NAME_V}_amd64

      - name: step-test-ubuntu
        run: |
          apt install -y ./lightning-image-viewer_${TAG_NAME_V}_amd64.deb

      - name: step-build-windows-install-system-deps
        run: |
          apt install -y curl make gcc-mingw-w64 cmake g++-mingw-w64 imagemagick unzip zip

      - name: step-build-windows-get-sdl3
        run: |
          if [ ! -d SDL3-$SDL_VER ]; then
            curl --location https://github.com/libsdl-org/SDL/releases/download/release-$SDL_VER/SDL3-devel-$SDL_VER-mingw.tar.gz | tar --extract --gzip SDL3-$SDL_VER
          fi

      # av1 decoder for avif
      - name: step-build_windows-get-libheif-dav1d
        run: |
          apt install -y meson nasm
          if [ ! -d dav1d-$DAV1D_VER ]; then
            curl --location https://code.videolan.org/videolan/dav1d/-/archive/$DAV1D_VER/dav1d-$DAV1D_VER.tar.gz | tar --extract --gzip dav1d-$DAV1D_VER
          fi
          cd dav1d-$DAV1D_VER
          mkdir -p build
          cd build
          meson setup .. --cross-file=../package/crossfiles/x86_64-w64-mingw32.meson
          ninja

      # h265 decoder for heic
      - name: step-build_windows-get-libheif-libde265
        run: |
          # https://www.mingw-w64.org/build-systems/cmake/
          cat <<EOF > toolchain-mingw64.cmake
          # toolchain-mingw64.cmake
          set(CMAKE_SYSTEM_NAME Windows)
          set(CMAKE_SYSTEM_PROCESSOR x86_64)

          # specify the cross compiler
          set(CMAKE_C_COMPILER x86_64-w64-mingw32-gcc)
          set(CMAKE_CXX_COMPILER x86_64-w64-mingw32-g++)
          set(CMAKE_RC_COMPILER x86_64-w64-mingw32-windres)

          # where is the target environment
          set(CMAKE_FIND_ROOT_PATH /usr/x86_64-w64-mingw32)

          # search for programs in the build host directories
          set(CMAKE_FIND_ROOT_PATH_MODE_PROGRAM NEVER)
          # for libraries and headers in the target directories
          set(CMAKE_FIND_ROOT_PATH_MODE_LIBRARY ONLY)
          set(CMAKE_FIND_ROOT_PATH_MODE_INCLUDE ONLY)
          EOF
          if [ ! -d libde265-$LIBDE265_VER ]; then
            curl --location https://github.com/strukturag/libde265/releases/download/v$LIBDE265_VER/libde265-$LIBDE265_VER.tar.gz | tar --extract --gzip libde265-$LIBDE265_VER
          fi
          cd libde265-$LIBDE265_VER
          mkdir -p build
          cd build
          cmake -DCMAKE_TOOLCHAIN_FILE=../../toolchain-mingw64.cmake ..
          make

      - name: step-build_windows-get-libheif
        run: |
          if [ ! -d libheif-$LIBHEIF_VER ]; then
            curl --location https://github.com/strukturag/libheif/releases/download/v$LIBHEIF_VER/libheif-$LIBHEIF_VER.tar.gz | tar --extract --gzip libheif-$LIBHEIF_VER
          fi
          cd libheif-$LIBHEIF_VER
          mkdir -p build
          cd build
          # `-DWITH_X265=OFF -DENABLE_PLUGIN_LOADING=NO` ?
          cmake -DCMAKE_TOOLCHAIN_FILE=../../toolchain-mingw64.cmake -DDAV1D_INCLUDE_DIR=../../dav1d-$DAV1D_VER/include -DDAV1D_LIBRARY=../../dav1d-$DAV1D_VER/build/src/libdav1d.dll.a -DLIBDE265_INCLUDE_DIR=../../libde265-$LIBDE265_VER -DLIBDE265_LIBRARY=../../libde265-$LIBDE265_VER/build/libde265/libde265.dll.a -DWITH_X265=OFF -DENABLE_PLUGIN_LOADING=NO --preset=release ..
          make

      - name: step-build-windows-build
        run: |
          magick -background none -density 256x256 lightning-image-viewer/share/icons/hicolor/scalable/apps/lightning-image-viewer.svg -define icon:auto-resize lightning-image-viewer.ico
          x86_64-w64-mingw32-windres lightning-image-viewer/src/windows_resources.rc windows_resources.o
          rustup target add x86_64-pc-windows-gnu
          cd lightning-image-viewer
          # create script which cargo can run instead of pkg-config to discover previously built libheif
          # assuming that libheif version is satisfying libheif-rs/libheif-sys default minimal version requirement
          cat <<EOF > ../pkg-config-libheif
          #!/bin/sh

          # --libs --cflags libheif 'libheif >= \$version_from_cargo'
          if [ "\$1" = "--libs" ] && [ "\$2" = "--cflags" ] && [ "\$3" = "libheif" ]; then
            echo "-I/home/user/Projects/lightning-image-viewer/libheif-$LIBHEIF_VER/libheif/api -lheif"
            exit 0
          fi

          # --modversion libheif 'libheif >= \$version_from_cargo'
          if [ "\$1" = "--modversion" ] && [ "\$2" = "libheif" ]; then
            echo $LIBHEIF_VER
            echo $LIBHEIF_VER
            exit 0
          fi

          echo "pkg-config-libheif called with unsupported args" >&2
          exit 1
          EOF
          chmod a+x ../pkg-config-libheif
          env PKG_CONFIG=$PWD/../pkg-config-libheif PKG_CONFIG_ALLOW_CROSS=1 RUSTFLAGS="-C link-arg=-L../SDL3-$SDL_VER/x86_64-w64-mingw32/lib -C link-arg=-L../libheif-$LIBHEIF_VER/build/libheif -C link-arg=../windows_resources.o" cargo build --target x86_64-pc-windows-gnu --release

      - name: step-build-windows-create-archive
        run: |
          # TODO is libwinpthread-1.dll needed?
          zip -j lightning-image-viewer-$TAG_NAME_V-win32-x64.zip lightning-image-viewer.exe SDL3-$SDL_VER/x86_64-w64-mingw32/bin/SDL3.dll dav1d-$DAV1D_VER/build/src/libdav1d.dll libde265-$LIBDE265_VER/build/libde265/libde265.dll libheif-$LIBHEIF_VER/build/libheif/libheif.dll /usr/lib/gcc/x86_64-w64-mingw32/13-win32/libgcc_s_seh-1.dll /usr/lib/gcc/x86_64-w64-mingw32/13-win32/libstdc++-6.dll /usr/x86_64-w64-mingw32/lib/libwinpthread-1.dll README.md

      # emscripten enstalled via emsdk because ubuntu repo has incompatible versions of emcc and wasm-opt, passing cargo-built wasm obj to emcc causes it to call wasm-opt with unsupported arg
      - name: step-build-emscripten-get-emsdk
        run: |
          # emsdk fetches xz-compressed
          apt install -y xz-utils
          if [ ! -d emsdk-$EMSDK_VER ]; then
            curl --location https://github.com/emscripten-core/emsdk/archive/refs/tags/$EMSDK_VER.tar.gz | tar --extract --gzip emsdk-$EMSDK_VER
          fi
          cd emsdk-$EMSDK_VER
          ./emsdk install latest
          ./emsdk activate latest
          #source ./emsdk_env.sh

      - name: step-build-emscripten-get-sdl3
        run: |
          cd emsdk-$EMSDK_VER
          . ./emsdk_env.sh
          cd ..
          # SDL3-$SDL_VER/x86_64-w64-mingw32/ already exists
          if [ ! -d SDL3-$SDL_VER ] || [ ! -f SDL3-$SDL_VER/CMakeLists.txt ]; then
            curl --location https://github.com/libsdl-org/SDL/releases/download/release-$SDL_VER/SDL3-$SDL_VER.tar.gz | tar --extract --gzip SDL3-$SDL_VER
          fi
          mkdir -p SDL3-$SDL_VER/build.emscripten
          cd SDL3-$SDL_VER/build.emscripten
          emcmake cmake ..
          emmake make -j4

      - name: step-build-emscripten-build
        run: |
          cd emsdk-$EMSDK_VER
          . ./emsdk_env.sh
          cd ..
          # somewhy emsdk_env.sh doesn't add this, needed for wasm-opt
          export PATH=$PWD/emsdk-$EMSDK_VER/upstream/bin:$PATH
          mkdir -p pages
          rustup target add wasm32-unknown-emscripten
          cd lightning-image-viewer
          # TODO `emcc: warning: ASYNCIFY=1 is not compatible with -fwasm-exceptions. Parts of the program that mix ASYNCIFY and exceptions will not compile. [-Wemcc]`
          # this was only emitted once when it failed because of irrelevant problem, does it mean there are no such parts and everything is ok?
          env EMCC_CFLAGS="-I../SDL3-$SDL_VER/include -L../SDL3-$SDL_VER/build.emscripten -lSDL3 -sEXPORTED_RUNTIME_METHODS=['callMain'] -sASYNCIFY -sEXIT_RUNTIME=1 -sALLOW_MEMORY_GROWTH" cargo build --target wasm32-unknown-emscripten --release --no-default-features
          cp -a target/wasm32-unknown-emscripten/release/lightning-image-viewer.js target/wasm32-unknown-emscripten/release/lightning_image_viewer.wasm share/icons/hicolor/scalable/apps/lightning-image-viewer.svg ../pages
          sed "s?{{ GITHUB_SHA }}?$GITHUB_SHA?g;s?{{ TAG_NAME }}?v$TAG_NAME_V?g" src/index.html.in > ../pages/index.html

      - name: step-provenance-attestations
        uses: actions/attest-build-provenance@v2
        with:
          subject-path: |
            lightning-image-viewer_${{ github.event.inputs.tag_name_v }}_amd64.deb
            lightning-image-viewer-${{ github.event.inputs.tag_name_v }}-win32-x64.zip

      - name: step-create-release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ github.event.inputs.tag_name_v }}
          release_name: v${{ github.event.inputs.tag_name_v }}
          draft: ${{ github.event.inputs.draft }}

      - name: step-upload-ubuntu
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: lightning-image-viewer_${{ github.event.inputs.tag_name_v }}_amd64.deb
          asset_name: lightning-image-viewer_${{ github.event.inputs.tag_name_v }}_amd64.deb
          asset_content_type: application/vnd.debian.binary-package

      - name: step-upload-windows
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: lightning-image-viewer-${{ github.event.inputs.tag_name_v }}-win32-x64.zip
          asset_name: lightning-image-viewer-${{ github.event.inputs.tag_name_v }}-win32-x64.zip
          asset_content_type: application/zip

      - name: step-pages-setup
        uses: actions/configure-pages@v5

      - name: step-pages-upload-artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: pages

      - name: step-pages-deploy-to-github
        id: deploy_pages
        uses: actions/deploy-pages@v4
